In [2]:
import pandas as pd

In [9]:
df_copa_2023 = pd.read_excel('data/data_copa_2023.xlsx')
df_copa_2024 = pd.read_excel('data/data_copa_2024.xlsx')

df_copas = pd.concat([df_copa_2023, df_copa_2024])

In [11]:
df_copas['ANO'] = df_copas['DATA'].apply(lambda x: x.year)

In [14]:
df_copas_campeos = df_copas[df_copas['PTS']>=50]

In [24]:
df_copas_campeos.groupby(['PLAYER']).agg({'PLAYER':'count'}).rename({'PLAYER':'TITULOS'},axis=1).reset_index().sort_values('TITULOS',ascending=False)

           PLAYER  TITULOS
8         Hugo GK        4
4         Emanuel        3
5         Feitosa        3
0           Braga        2
15           Nino        2
13    Léo Cardoso        2
12  Lucas Marques        2
9    João Rodrigo        2
20          Xande        2
7          Guiler        2
1            Deco        1
11          Lotta        1
6         Gabriel        1
3         Dumanga        1
14       Marcello        1
2           Dolfo        1
16    Paulo André        1
17       Pentelho        1
18          Pintp        1
19         Thiago        1
10           Juba        1